# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment directories
myenv/

# Ignore SQLite database files
*.sqlite3

# Ignore IDE configurations
.vs/

# Ignore log files
*.log

# Ignore OS-specific files
Thumbs.db
.DS_Store
